/* Global */
body{
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}

.btn_reset{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.list_reset{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.back-img{
    height: 870px;
    margin-bottom: 200px;
    background-image: url(../img/main-back2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-h2{
    margin: 0;
    margin-bottom: 140px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 44px;
    line-height: 53px;
    color: #000000;
}

/* HEADER */
.header{
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px 32px;
    margin-bottom: 228px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header__form-content{
    position: relative;
}

.header__input-svg{
    position: absolute;
    top: 6px;
    left: 25px;
}


.search-input{
    width: 675px;
    height: 46px;
    padding-left: 65px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 32px;
    border: none;
    cursor: pointer;
}

.search-input:focus{
    outline: 2px solid rgba(255, 255, 255, 0.62);
    cursor:auto;
}

.header__btn{
    padding: 11px;
    border: 1px solid #FFFFFF;
    border-radius: 32px;
}

.header__btn-link{
    padding: 12px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

.header__btn-link:hover{
    color: #219D18;
    transition: all 0.3s ease;
}

.header__btn:hover{
    border: 1px solid #219D18;
    color: #219D18;
    transition: all 0.3s ease;
}

.header__burger-menu {
    position: relative;
    width: 32px;
    height: 35px;
    display: block;
}

.header__burger-menu::after, .header__burger-menu::before{
    content: "";
}

.header__burger-menu::before{
    bottom: 20px;
}

.header__burger-menu::after{
    bottom: 10px;
}

.header__burger-menu::after, .header__burger-menu::before {
    height: 2px;
    width: 50px;
    right: 0px;
    position: absolute;
    background-color: #fff;
    margin: 0 auto;
}

.header__nav-list{
    display: flex;
    justify-content: space-between;
}

.header__nav-link{
    position: relative;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
}

.header__nav-link::after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    left: initial;
    bottom: -5px;
    right: 0;
    transition: width 0.3s ease;
}

.header__nav-link:hover::after{
    width: 100%;
    left: 0;
    right: initial;
}

.header__title-content{
    display: flex;
    justify-content: center;
    text-align: center;
}

.header__title-h1{
    width: 490px;
    margin: 0;
    margin-bottom: 73px;
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__bottom-content{
    position: absolute;
    left: 56%;
    top: 149%;
}

.header__main-descr{
    height: 340px;
    padding: 57px 42px;
    background-color: rgba(23, 17, 17, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 32px;
}

.header__btn-pos{
    display: flex;
    justify-content: center;
}

.header__btn-title{
    padding: 11px 61px;
    border: 1px solid #FFFFFF;
    border-radius: 32px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

/* section-steps */
.section-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.steps__content{
    display: flex;
    justify-content: center;
}

.steps__list-item{
    display: flex;
    justify-content: start;
    margin-bottom: 100px;
}

.steps__number{
    margin-right: 135px;
    padding-top: 35px;
    font-weight: 300;
    font-size: 148px;
    line-height: 72px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
}

.steps__descr{
    width: 960px;
    margin-bottom: 75px;
    font-weight: 300;
    font-size: 24px;
    line-height: 52px;
    text-transform: uppercase;
    color: #000000;
}

.steps__btn{
    padding: 10px 223px;
    background: #219D18;
    border-radius: 32px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

/* footer */

.footer__list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
}

.footer__link-item{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.footer__bot{
    text-align: center;
}

.footer__bot p{
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
